:root{
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --vdark-cyan: hsl(179, 100%, 13%);
    --twhite: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
    --font-size: 15px;
}

html{font-size: var(--font-size); font-family: "Lexend Deca"; font-weight: 400;}

.orange{color: var(--orange);}
.dark-cyan{color: var(--dark-cyan);}
.vdark-cyan{color: var(--vdark-cyan);}
.twhite{color: var(--twhite);}
.light-gray{color: var(--light-gray);}

.bg-orange{background-color: var(--orange);}
.bg-dark-cyan{background-color: var(--dark-cyan);}
.bg-vdark-cyan{background-color: var(--vdark-cyan);}
.bg-twhite{background-color: var(--twhite);}
.bg-light-gray{background-color: var(--light-gray);}

.fw-400{font-weight: 400;}
.fw-700{font-weight: 700;}

.flex{display: flex;}
.f-direction-col{flex-direction: column;}
 

body{
    height: auto;
    min-height: 100vh;
    padding: 6em 1.5em;
}

main{
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
}

section{
    padding: 3.5em;
}

.title{
    font-family: "Big Shoulders Display";
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-block: 2rem 1.5rem;
}

.desc{
    line-height: 1.6;
}

.btn{
    border:2px solid var(--light-gray);
    padding: 0.9em 2em;
    margin-top: 1.5em;
    border-radius: 2em;
}

@media only screen and (min-width: 940px) {
    body{
        padding: 0;
        display: grid;
        place-content: center;
    }

    main{
        flex-direction: row;
        max-width: 920px;
    }

    section{
        padding: 3.3em;
    }

    .btn{margin-top: 5em;}
    .btn:hover{
        background-color: transparent;
        color: var(--light-gray);
        cursor: pointer;
    }
}